/*PAGE STYLING*/
html, body
{
    height: 100%;
    margin: 10px 0px 0px 0px;
    padding:0;
    font-family: sans-serif;
    color: white;
    font-size: 12px;
}

#wrapper {
    position:relative;
    height: 100%;
    width:100%;
}

#container img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    height: 475px;
}

#task {
  position:absolute;
  top:323px;
  left:303px;
  /*right:0;
  bottom:0;*/
  margin:auto;
  z-index: 40;
  width: 212px;
  /*height: 500px;*/
  height: 46px;
  text-align: center;
  border-radius: 5px;
}

#addBtn  {
  position:absolute;
  top:373px;
  left:303px;
  margin:auto;
  z-index: 55;
  width: 220px;
  height: 35px;
  background-color: orange;
  border-radius: 5px;
}

h3 {
  position:absolute;
  top:48px;
  left:303px;
  margin: auto;
  z-index: 50;
  width: 218px;
  height: 26px;
  text-align: center;
  color: orange;
  padding: 15px 0 0 0;
  background-color: gray;
  border-radius: 2px;
}

/*TABLE STYLING*/
table {
  position:absolute;
  top:90px;
  left:303px;
  margin:auto;
  z-index: 50;
  width: 218px;
  /*height: 360px;*/
  background-color: orange;
  border-radius: 5px;
  color: black;
  z-index: 1;
  /*overflow: scroll;*/
  /*align-items: center;*/
}

tr, td {
  height: 20px;
  width: 100%;
  vertical-align: middle;
  border-bottom: 1px black solid;
}

/*BUTTON STYLING*/
button {
  font-size: 10px;
  height: 15px;
  width: 50px;
  z-index: 100;
  /*not sure why button text smooshes to bottom unless I use this padding..*/
  padding: 0 0 10px 0;
  border-radius: 15px;
}

.mark {
  background-color: darkGreen;
}

.deleteBtn {
background-color: darkRed;
}

/* TASKS STYLING*/
.complete {
  color: black;
  background-color: gray;
  opacity: 0.75;
  border-radius: 5px;
  width: 100%;
}


/*DIALOG STYLING*/
/*#dialog {
  z-index: 99999;
  background-color: gray;
}*/
